body{
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
}